.products-grid{
    display: grid;
    grid-template-columns: repeat(1, 1fr); /*mobile first*/
    grid-gap: 50px 20px;
}

@media(min-width: 576px){
    .products-grid{
        grid-template-columns: repeat(3, 1fr); /*pc later*/ 
    }
}